<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home page</title>
</head>
<body>
<h3>You now at home page.</h3>

<br>
<div>
    <div sec:authorize="isAnonymous()">
        <p>Welcome anonymous
            <br>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/login}">Sign in</a></li>
            <br>
            <li><a th:href="@{/registration}">Sign up</a></li>
        </ul>
        </p>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" action="#" th:action="@{/logout}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
        <p>Welcome <span sec:authentication="name"></span>
            <br>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
        </p>
    </div>
</div>

<br>
<a th:href="@{/auth/downloadTorrent/inputMagnetLink}">Upload magnet link</a>
<br>
<a th:href="@{/auth/listAllTorrentThreads}">List all torrent files and check statuses</a>
<br>
<div sec:authorize="hasAuthority('WRITE_PRIVILEGE')" style="overflow-x:auto;">
    <a th:href="@{/admin}">Admin page</a>
    <br>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>